@import "src/styles/mixins";

.cart-element-container {
  display: flex;
  justify-content: space-between;
  max-width: 1097px;
  margin-bottom: 16px;
  border-top: 1px rgba(229, 229, 229, 1) solid;

  h3 {
    margin: 16px 0 0 0;
    font-weight: 600;
    font-size: 30px;
  }
}

@media only screen and (max-width: 1240px) and (min-width: 812px) {

  .cart-element-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.cart-element-name {
  margin: 8px 0 0 0;
  font-size: 30px;
}

.cart-element-price {
  margin: 16px 0 0 0;
  font-weight: 700;
  font-size: 24px;
}

.cart-element-info-attributes {
  display: flex;
  margin-top: 20px;
  color: rgba(41, 41, 41, 1);
  text-align: center;

  div {
    width: 63px;
    height: 45px;
    margin-right: 11px;
    padding-top: 12px;
    border: 1px #1d1f22 solid;
    background-color: #1d1f22;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.cart-element-amount {
  margin: 21px 12px 0 auto;

  svg {
    width: 45px;
    height: 45px;
    cursor: pointer;
  }

  .cart-product-amount {
    margin: 28px 0 33px 0;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
  }

  div {
    @include disabled-selection;
  }
}
